@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"DM Sans", sans-serif;
    color:var(--blanco);
    text-decoration:none;
    list-style: none;
}

:root {
    /* Colores */
    --violeta:         #482BE7;
    --verde:           #25DAC5;
    --celeste:         #1DA1F2;
    --violeta-oscuro:  #1E0E62;
    --violeta-claro:   #2F1893;
    --rojo:            #EA3223;
    --rojo-claro:      #E93A7D;
    --gris-tipografia: #A1A1B0;
    --gris-borde:      #EAEAED;
    --blanco:          #ffffff;
    --b-opacidad-30:   #ffffff4d;
    /* Tipografías */
    --regular: 400;
    --medium:  500;
    --bold:    600;
}


/* Inicio header */

header{
    height:100vh;
    background-color: var(--violeta-claro);
    background-image: url(assets/images/Landing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 20;
    display:flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    
}

header .nav{
    padding-top: 85px;
    font-size: 18px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

header li a img{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .carrousel{

    padding-top: 142px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px;
}

header .etiqueta{
    font-size: 24px;
    font-weight: var(--bold);
}

header .arrows-title{
    display: flex;
    gap:300px;
}

header .arrows-title h1{
    font-size: 72px;
    letter-spacing: 1px;
}

header .description{
    width: 736px;
    font-size: 22px;
    line-height: 35px;
}

header .selector{
    width:91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:9px;
}

header .button{
    width:230px;
    height:60px;
    border-radius: 100px;
    background-color: var(--violeta);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* Fin header */


/* Inicio sección content */
.content-section {
    height: 540px;
    padding: 107px 292px 126px;
    background-image: url(./assets/images/Content&form.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--violeta-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
}

.content-section span {
    font-size: 14px;
    font-weight: var(--bold);
    letter-spacing: 2px;
}

.content-section h1 {
    width: 815px;
    font-size: 58px;
    font-weight: var(--bold);
    line-height: 70px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 34px;
}

.content-section p {
    width: 770px;
    font-size: 18px;
    font-weight: var(--medium);
    line-height: 28px;
    text-align: center;
    opacity: 70%;
}
/* Fin sección content */


    /* Inicio sección features */

.features{
    height:736px;
    background-color: var(--violeta-claro);
    background-image: url(./assets/images/Features.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    gap:230px;
}

.features .container{
    width:600px;
    display:flex;
    flex-direction: column;
    gap:66px;
}

.features .titulo{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.features .titulo h2{
    font-size: 42px;
    font-weight: var(--bold);
    letter-spacing: 1px;
}

.features .titulo span{
    font-size: 22px;
}

.features .articulos{
    display:flex;
    gap:29px;
}

.features .articulos .primero{
    width:271px;
    display: flex;
    flex-direction: column;
}

.features .articulos .primero img{
    filter:drop-shadow( 0 4px 5px black);
}

.features .articulos .primero h3{
    padding-top: 29px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: var(--medium);
    letter-spacing: 2px;
    text-shadow: 0 4px 13px black;
}

.features .articulos .primero span{
    font-size: 16px;
    line-height: 26px;
    text-shadow: 0 4px 13px black;
}

.features .articulos .segundo{
    width:271px;
    display: flex;
    flex-direction: column;
}

.features .articulos .segundo h3{
    padding-top: 29px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: var(--medium);
    letter-spacing: 2px;
    text-shadow: 0 4px 13px black;
}

.features .articulos .segundo span{
    font-size: 16px;
    line-height: 26px;
    text-shadow: 0 4px 13px black;
}



.features .selector{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

/* Fin sección features */

/* Inicio sección testimonial */

.testimonial{
    height:800px;
    background-color: var(--violeta-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .contenedor{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonial .contenedor h2{
    font-size: 42px;
    line-height: 52px;
}

.testimonial .contenedor-articulos{
    width:970px;
    height:504px;
    display: flex;
    flex-wrap: wrap;
    gap:30px
}

.testimonial .contenedor-articulos article{
    height:237px;
    width:470px;
    display: flex;
    gap: 30px;
    padding: 33px 26px 21px 33px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.testimonial .contenedor-articulos article div{
    height:179px;
    width:307px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 13px;
}

.testimonial .contenedor-articulos article div p{
    font-size: 18px;
    line-height: 28px;
    
}

.testimonial .contenedor-articulos article div span{
    font-size:14px;
    letter-spacing: 2px;
    color: var(--b-opacidad-30)
}

/* Fin sección testimonial */

/* Inicio sección ShowCase */

.showcase{
    height:1130px;
    background-color: var(--violeta-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase .contenedor{
    display: flex;
    flex-direction: column;
    gap:53px;
}

.showcase .contenedor .titulo-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.showcase .contenedor .titulo-link h2{
    font-size: 42px;
    letter-spacing: 1px;
}

.showcase .contenedor .titulo-link a{
    font-size: 18px;
    border: 2px solid #ffffff4d;
    border-radius: 100px;
    padding: 13px 24px 11px 24px
}

.showcase .contenedor .contenedor-cartas{
    height: 816px;
    width:970px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 70px;
}

.showcase .contenedor .contenedor-cartas .carta{
    height:371px;
    width:470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.showcase .contenedor .contenedor-cartas .texto{
    height:61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.showcase .contenedor .contenedor-cartas .texto .nombre{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 26px;
}

.showcase .contenedor .contenedor-cartas .texto .titulo{
    font-size: 22px;
    line-height: 32px;
}

/* Fin section showcase */